* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    font-size: 16px;
    /* line-height: 1.5; */
    background-color: beige;
}

img {
    width: 450px;
    margin-left: 50px;
}

h1,
h2 {
    font-size: 35px;
    margin-bottom: 30px;
}

ul {
    display: flex;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.container2 {

}

.navbar {
    background-color: black;
    padding: 13px;
}

.navbar .logo {
    font-size: 30px;
    font-weight: bold;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.navbar a:hover {
    color: lightblue;
    text-decoration: underline;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style: none;
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
}

.header {
    background-color: rgb(209, 170, 124);
    margin-bottom: 20px;
}

/* .header2 {

} */

.header h1 {
    font-size: 35px;
    margin-bottom: 30px;
}

.header img {
    width: 450px;
    margin-left: 50px;
}

.header img:hover{

}


.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .header2 .container2 {

} */

.header .container p {

}

.boxes h1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxes .container {
    display: flex;
}

.grid{
    row-gap: 20px;
}
.box {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 15px;
    padding: 15px;
    border-radius: 20px;
    border: 5px solid white;
    box-shadow: 0px 0px 10px black;
    transition: background-color 0.1s;
}

.box:hover {
    background-color: rgb(241, 18, 126);
}

.darkblue {
    background-color: rgb(219, 139, 203);
}

.darkred {
    background-color: rgb(234, 131, 224);
}

.gold {
    background-color: rgb(190, 50, 181);
}

.green {

}


.box img {
    width: 150px;
    object-fit: cover;
    margin: 10px 0;
}

.box i {

}

.box h3 {

}

.box p {
    text-align: justify;
    line-height: 1.5;
}

.header2 .s1 {

}

.s1 img {

}

.box img:hover{

}

.s1-a {

}

.s1-a p {

}

@media (max-width: 768px) {
    .header .container {
        flex-direction: column;
        text-align: center;
    }

    .boxes .container {

    }

    .boxes {

    }
}

@media (max-width:740px) {

    .navbar .container {
        flex-direction: column;
    }

    .navbar ul {

    }

    .boxes {

    }

}

@media (max-width:550px) {
    .navbar a {
        
    }

    .boxes {
        
    }
}